
.vs/AltenTvMaze/v16/.suo
.vs/AltenTvMaze/DesignTimeBuild/.dtbcache
.vs/AltenTvMaze/DesignTimeBuild/.dtbcache.v2
*.vsidx
.vs/AltenTvMaze/v17/.suo
.vs/AltenTvMazeApi/v16/.suo
.vs/AltenTvMazeApi/bin
.vs/AltenTvMazeApi/obj
**/bin/Release
**/bin/Debug
**/obj
AltenTvMazeApi/obj/*
*.bin

*.ide
*.lock
*.dll
